<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<springProfile name="dev">
		<property name="LOG_HOME" value="D:\\data\\purchasing\\logs" />
		<property name="LOG_LEVEL" value="INFO" />
	</springProfile>
	<springProfile name="test">
		<property name="LOG_HOME" value="/data/ecom/novelmediaadmin/logs" />
		<property name="LOG_LEVEL" value="DEBUG" />
	</springProfile>
	<springProfile name="prd">
		<property name="LOG_HOME" value="/data/ecom/novelmediaadmin/logs" />
		<property name="LOG_LEVEL" value="INFO" />
	</springProfile>

	<!--定义一个控制台输出器，名为console-->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!--按pattern指定的格式输出日志，编码为UTF-8-->
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread]  %-5level %logger{30} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!--定义一个日滚动（每天生成一份）的日志文件-->
	<appender name="ERROR-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--按pattern指定的格式输出日志，编码为UTF-8-->
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread]  %-5level %logger{30} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<!-- 定义保存的文件名 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--%d{yyyy-MM-dd}代表每天生成一个新的日志-->
			<fileNamePattern>${LOG_HOME}/error.log.%d{yyyy-MM-dd}</fileNamePattern>
			<!--日志最多保存30天，也就是30份-->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<!-- 在日滚动文件中，强制只保存错误级别以上信息 -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<!--定义一个日滚动（每天生成一份）的日志文件-->
	<appender name="SERVICE-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--按pattern指定的格式输出日志，编码为UTF-8-->
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread]  %-5level %logger{30} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<!-- 定义保存的文件名 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--%d{yyyy-MM-dd}代表每天生成一个新的日志-->
			<fileNamePattern>${LOG_HOME}/service.log.%d{yyyy-MM-dd}</fileNamePattern>
			<!--日志最多保存30天，也就是30份-->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>${LOG_LEVEL}</level>
		</filter>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>DENY</onMatch>
			<onMismatch>ACCEPT</onMismatch>
		</filter>
	</appender>

	<!--定义一个日滚动（每天生成一份）的日志文件-->
<!--	<appender name="TASK-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--		&lt;!&ndash;按pattern指定的格式输出日志，编码为UTF-8&ndash;&gt;-->
<!--		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread]  %-5level %logger{30} - %msg%n</pattern>-->
<!--			<charset>UTF-8</charset>-->
<!--		</encoder>-->
<!--		&lt;!&ndash; 定义保存的文件名 &ndash;&gt;-->
<!--		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--			&lt;!&ndash;%d{yyyy-MM-dd}代表每天生成一个新的日志&ndash;&gt;-->
<!--			<fileNamePattern>${LOG_HOME}/task.log.%d{yyyy-MM-dd}</fileNamePattern>-->
<!--			&lt;!&ndash;日志最多保存30天，也就是30份&ndash;&gt;-->
<!--			<maxHistory>30</maxHistory>-->
<!--		</rollingPolicy>-->
<!--		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--			<level>${LOG_LEVEL}</level>-->
<!--		</filter>-->
<!--		<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--			<level>ERROR</level>-->
<!--			<onMatch>DENY</onMatch>-->
<!--			<onMismatch>ACCEPT</onMismatch>-->
<!--		</filter>-->
<!--	</appender>-->

	<logger name="com.mycode.purchasing.task" level="${LOG_LEVEL}">
		<appender-ref ref="SERVICE-APPENDER" />
	</logger>

	<logger name="org.apache.ibatis" level="DEBUT"/>
	<logger name="org.mybatis.spring.boot" level="ERROR"/>
	<logger name="org.mybatis.spring.transaction" level="DEBUG"/>

	<logger name="org.apache.shiro" level="ERROR"/>

	<logger name="com.zaxxer.hikari" level="ERROR"/>

	<logger name="org.springframework" level="ERROR"/>
	<logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="DEBUG"/>
	<logger name="org.springframework.jdbc.datasource" level="DEBUG"/>
	<logger name="org.springframework.test" level="DEBUG"/>
	<logger name="org.apache.http" level="ERROR"/>
	<logger name="io.lettuce" level="ERROR"/>
	<logger name="io.netty" level="ERROR"/>
	<logger name="org.hibernate" level="ERROR"/>

	<logger name="org.springframework.boot.autoconfigure.logging" level="ERROR"/>

	<root level="${LOG_LEVEL}">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>